@import "../../../assets/theme/_variables.scss";

.status-bar {
  background-color: #455a64;
  height: 65px;

  .separator{
    color: $accent;
    font-size: 25px;
  }

  .item {
    color: $accent;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: $accent-light;
    }
  }
  .pet-menu {
    font-size: 22px;
  }

  .current-user{
    font-size: 22px;
  }
}


