<mat-card class="actions">
  <mat-card-header>
    <mat-card-title>
      <div class="heading center-div">
        <mat-icon> flash_on</mat-icon><span class="ml-2">Actions</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row justify-content-center align-items-center">
      <div class="col-1 center-div">
        <div class="action-item-circle center-div">
          <span class="text">Feed</span>
        </div>
      </div>
      <div class="col-1 center-div">
        <div class="action-item-circle center-div">
          <span class="text">Snack</span>
        </div>
      </div>
      <div class="col-1 center-div">
        <div class="action-item-circle center-div">
          <span class="text">Photo</span>
        </div>
      </div>
      <div class="col-1 center-div">
        <div class="action-item-circle center-div">
          <span class="text">Stream</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
