/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.mat-drawer-inner-container{
    background-color: #263238;
}

.mat-drawer-content{
    margin-left: 140px !important;
}

* {
    font-family: 'Ubuntu', sans-serif;
   }
